<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    nama: <input v-model="name">
    <button v-on:click="doAdd">モンスターを追加</button>
    <ul>
      <li v-for="(monster,index) in monsters" v-bind:key="monster.id">
        id.{{ monster.id}} {{monster.name}} HP.{{ monster.hp }}
        <span v-if="monster.hp<50">瀕死</span>
        <button v-on:click="doAtack(index)">攻撃</button>
        <button v-on:click="doRemove(index)">削除</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js"></script>
  <script src="./main.js"></script>
</body>
</html>